# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.log
.cache
instance/
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover